$font: Lato, sans-serif;
$font-color: #222;

$focus-color: #fff;

$search-suggestion-background-color: #fff;
$search-suggestion-color: #222;
$search-form-background-color: #111;

$help-background-color: #fff;

$command-key-background-color: #222;
$command-key-color: #fff;

$command-name-background-color: #222;